# Analyse, classification et indexation des données: feuille 6
### Classifieur bayésien

Dans la première partie de ce TD on s’appuie sur l’exemple du cours qui consiste à séparer des poissons en deux classes : bars et saumons. La classification sera faite à partir d’une seule caractéristique (la longueur) dans un premier temps, puis à partir de deux caractéristiques (longueur et brillance). En d’autres termes, le descripteur sera d’abord de dimension 1 puis de dimension 2.

#### Données
Dans cet exercice, nous allons travailler avec un fichier (<code>salmon_seabass.csv</code>) contenant des informations sur la longueur et la brillance de deux classes de poissons : les saumons et les bars.
Le fichier est disponible à l'adresse : 

https://www.labri.fr/perso/zemmari/datasets/salmon_seabass.csv

1- Chargez le fichier, et notez que la colonne <code>species</code> indique la catégorie du poisson : 

    - 0 : il s'agit d'un saumon 
    - 1 : il s'agit d'un bar

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('https://www.labri.fr/perso/zemmari/datasets/salmon_seabass.csv', delimiter=';')
df

      lightness      width  species
0      9.710457   8.673699        0
1      6.528089   7.330887        0
2      1.770695   7.599677        0
3      4.819293   7.328198        0
4      6.769638   8.575629        0
...         ...        ...      ...
1495  14.357080  11.631304        1
1496   9.810589  12.803998        1
1497  15.620085  13.078456        1
1498   9.218976  10.532814        1
1499   6.562505  11.463256        1

[1500 rows x 3 columns]

2- Affichez le nombre de valeurs fournies pour chacune des deux classes. On les nommera <code>sizeVTSaumon</code>
et <code>sizeVTBar</code>.

In [23]:
sizeVTSaumon = (df['species'] == 0).sum()
sizeVTBar = (df['species'] == 1).sum()
propSaumon = sizeVTSaumon/df['species'].count()
propBar = sizeVTBar/df['species'].count()
print(f"il y a dans ce data frame {sizeVTSaumon} Saumons et {sizeVTBar} Bar ressensés soit {propSaumon * 100}% de Saumons "
      f"et {propBar * 100}% de Bars")

il y a dans ce data frame 1000 Saumons et 500 Bar ressensés soit 66.66666666666666% de Saumons et 33.33333333333333% de Bars

### Exercice 1. classifieur avec une seule dimension

### 1.0 Préalable
Dans un premier temps, nous allons considérer un seul descripteur : la longueur <code>width</code> des poissons.

a- Mélanger les données.

In [24]:
df_shuffled = df.sample(frac = 1, random_state = 42) #frac indique qu'il n y aura qu'un seul df en sorti
#random_state permet de randomiser le df et 42 est un ordre qui permet de toujours recréer le meme shuffle
df_shuffled

      lightness      width  species
1116   4.311530  14.883711        1
1368  10.442457  13.108433        1
422    6.436878   8.037765        0
413    3.705992   5.575250        0
451    6.535363   7.202976        0
...         ...        ...      ...
1130  13.983324  12.804519        1
1294  10.582696  12.950547        1
860    6.976438   8.914260        0
1459  12.321579  10.260943        1
1126  14.469566  12.737060        1

[1500 rows x 3 columns]

b- Créer deux variables $X$ et $y$ respectivement la longueur du poisson et son espèce

In [28]:
import matplotlib.pyplot as plt
%matplotlib inline

In [27]:
X = df['width']
y = df['species']

c-  Découper les données en deux parties : 80% pour l'entrainement et 20% pour le test.

In [ ]:
from sklearn.model_selection import train_test_split

In [29]:
df_train = df_shuffled[:int(len(df_shuffled) * 0.8)]
df_test = df_shuffled[int(len(df_shuffled) * 0.2):]

#### 1.1. Classifieur ML

a- Calculer les estimateurs non biaisés de la moyenne et de l'écart type pour chacune des espèces de poisson. Attention, il faut travailler sur la portion d'entraînement du dataset.

In [ ]:
import numpy as np

In [42]:
mean = df_train['species'].mean()
print(f"il y a {mean}% de bar et {1-mean}% de saumons. L'écart type est de")
meanB = mean
meanS = 1 - mean

WmeanB = (df_train[df_train['species']== 1]['width']).mean()
WmeanS = (df_train[df_train['species']== 0]['width']).mean()

LmeanB = (df_train[df_train['lightness']== 1]['width']).mean()
LmeanS = (df_train[df_train['lightness']== 0]['width']).mean()



XtrainS = 1#taille des saumons
XtrainB = 1#taille des Bars

# -> il y a 32% de bars

il y a 0.32083333333333336% de bar et 0.6791666666666667% de saumons. L'écart type est de

b- Dessiner les courbes des lois normales correspondant à la fonction de maximum de vraisemblance. Indiquer la frontière de décision. Quelle est l'espèce prédite d'un poisson de longueur 12 ?

In [ ]:
import scipy.stats

c- Evaluer la qualité du modèle entrainé.

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score

#### 1.2. Classifieur MAP

a- Ecrire une fonction <code>classify()</code> permettant également de classifier les poissons mais en utilisant cette fois un classifieur a posteriori.

b- Evaluer ce classifieur

### Exercice 2. Classifieur avec deux descripteurs

Dans cet exercice, nous allons considérer le dataset dans sa globalité. Nous allons donc baser notre classification sur les deux descripteurs <code>width</code> et <code>lightness</code>.

Reprogrammer et tester les deux classifieurs vus dans l'exercice 1. Quel est l'impact du rajout du nouveau descripteur ?

### Exercice 3. Bayes avec <code>sklearn</code>

Comparer vos résultats avec ceux obtenus avec un classifieur de Bayes de la bibliothèque <code>sklearn</code>.

In [ ]:
from sklearn.naive_bayes import GaussianNB